@font-face {
  font-family: "FSEX302";
  src: url("./FSEX302-alt.woff2") format("woff2");
  font-display: block;
  font-feature-settings: "liga" 1;
}

:root {
  font-family: "FSEX302", monospace;
  -webkit-font-smoothing: none;
  text-shadow: 0px 2px 0px black, 0px 1px 0px black, 1px 0px 0px black;
  font-size: 16px;
  color: #fefefe;
  background: black;
}

main {
  --main-bg: #0161df;
  --frame-w: 6px;

  display: block;
  width: 44ch;
  box-sizing: border-box;
  padding: 2ch 2ch;
  background: var(--main-bg);
  position: relative;
  margin-bottom: 4ch;
}

main:first-of-type {
  margin-top: 8ch;
}

/** Frame */
main:before,
main:after {
  content: "";
  display: inline-block;
  position: absolute;
  left: var(--frame-w);
  right: var(--frame-w);
  height: var(--frame-w);
  background: var(--main-bg);
}

main:before {
  top: calc(-1 * var(--frame-w));
}

main:after {
  bottom: calc(-1 * var(--frame-w));
}

html,
body,
h1,
h2,
h3,
pre {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

h1,
h2,
code,
pre {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

h1 {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  background: linear-gradient(to bottom, #fffa10 50%, #ffbf18 50%, #ffbf18 70%, #dc9b00 70%);
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: none;
  color: transparent;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

mark {
  color: black;
  text-shadow: none;
  background: #6cf02e;
}

s {
  color: black;
  text-shadow: none;
  background: red;
}

footer {
  display: flex;
  flex-flow: row nowrap;
}

nav {
  flex-grow: 1;
}
